@import url(https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap);

body {
    background-color: #ffffff;
    width: 100%;
    margin: 0 ;
    padding: 0 ;
    font-family: 'Noto Serif TC', serif;
    overflow-x: hidden;
}

/*進場*/
#enterScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgb(22, 34, 71);
    opacity: 0;
    animation: fadeInOut 2.3s linear forwards;
    z-index: 10; 
}
@keyframes fadeInOut {
    0%{
        height: 100%;
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    99% {
        opacity: 0;
        height: 100%;
    }
    100%{
        height: 0;
    }
}
#line1{
    height: 12%;
    left: 49%;
    top: 13%;
    width: 3px;
    animation: line1 2s linear forwards;
}
#line2{
    height: 30%;
    left: 51%;
    top: 10%;
    width: 2px;
    animation: line2 2s linear forwards;
}
.inline{
    position: fixed;
    background-color: #ffffff;
    z-index: 25;
    opacity: 0;
}
@keyframes line1{
    21%{
        height: 0%;
        opacity: 0;
    }
    27%{
        height: 10%;
        opacity: 1;
    }
    73%{
        height: 10%;
        opacity: 1;
    }
    79%{
        height: 0%;
        opacity: 0;
    }
}
@keyframes line2{
    21%{
        height: 0%;
        opacity: 0;
    }
    27%{
        height: 30%;
        opacity: 1;
    }
    73%{
        height: 30%;
        opacity: 1;
    }
    79%{
        height: 0%;
        opacity: 0;
    }
}
#i1{
    left: 32%;
}
#i2{
    left: 41%;
}
#i3{
    left: 50%;
}
#i4{
    left: 59%;
}
.roller {
    position: fixed;
    width: 8vw;
    height: 8vw;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 100;
    opacity: 0;
    animation: updown 2s linear forwards, rotate 2s linear forwards;
}
@keyframes updown {
    0%{
        top: -20%;
        opacity: 1;
    }
    25%{
        top: 50%;
    }
    75%{
        top: 50%;
    }
    99%{
        opacity: 0;
    }
    100%{
        top: -20%;
    }
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-3600deg);
    }
}

/*頁首*/
header{
    position:static;
    background-color: #ffffff;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
}
header img{
    height: 50%;
}

/*選單*/
.grid-container {
    display:flex;
    width: 100%;
    height: 5vh;
    margin: 0;
    border: 0;
    padding: 0;
}
.grid-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}
.grid-item img {
    max-height: 90%;
    max-width:95%;
}

/*內容*/
.block{
    position:static;
    background-color:  rgb(22, 34, 71);
    height: auto;
    width: 100%;
    margin: 0;
}
.block img{
    width: 100%;
}

/*頁尾*/
footer{
    position:static;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100%;
    margin: 0;
    text-align: center; /* 让文字水平居中 */
    padding: 15px 0 10px 0; /* 设置 footer 的上下内边距 */   
}
.footer-text {
    margin: 0; /* 去除段落的默认外边距 */
    font-size: 10px; /* 设置文字大小 */
    line-height: 1.5; /* 设置行高 */
}

